* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.div-header {
  background-color: #2d3142;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sign-up {
  background-color: #ea5c1f;
  padding: 15px 18px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  color: #fff;
}

.sign-up:hover {
  background-color: #ea652cc9;
  color: #fff;
}

.log-in {
  background-color: rgba(255, 255, 255, 0.146);
  color: #fff;
  padding: 15px 18px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
}

.log-in:hover {
  background-color: rgba(255, 255, 255, 0.618);
  color: #2d3142;
}

.follow {
  padding: 8px;
  width: 100px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.168);
  color: #fff;
  font-size: 18px;
}

.follow:hover {
  background-color: rgba(255, 255, 255, 0.544);
  color: #2d3142;
}

.unfollow {
  padding: 8px;
  width: 100px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ea5c1f;
  color: #fff;
  font-size: 18px;
}

.unfollow:hover {
  background-color: #ea652cc9;
}

.meu-nome {
  color: #ffffff70;
}

.div-header-lateral {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.box-sign {
  display: flex;
  justify-content: end;
}

.input-signin {
  padding: 10px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  width: 280px;
}

.button-Login {
  background-color: #ea652c;
  color: #fff;
  padding: 15px 18px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  color: fff;

  margin-left: 180px;
}

.button-Login:hover {
  background-color: #f37d4ac9;
}

.div-input-button {
  background-color: #2d3142c5;
  border-radius: 10px;
  height: 200px;
  width: 330px;
  padding: 15px;
  position: absolute;
}

.displayNone {
  display: none;
}

.ul-menu-lateral li {
  flex: 1;
  padding: 25px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.501);
  border-top: 1px solid rgba(128, 128, 128, 0.501);
  list-style: none;
  margin: 10px;
  color: #edeef0;
}

.ul-menu-lateral li:hover {
  background-color: rgba(255, 255, 255, 0.141);
}

.ul-menu-lateral {
  position: fixed;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  background-color: #2d3142e7;
  height: 80vh;
  color: #fff;
  border-radius: 10px;
}

.button-menu-lateral {
  background-image: url(./images/menu1.png);
  background-repeat: no-repeat;
  margin-top: 5px;
  border-radius: 5px;
  width: 50px;
  height: 55px;
  border: 1px solid #2d3142;
  position: fixed;
  margin-left: 260px;
}

.hidden-menu-lateral {
  margin-left: -220px;
}

.link-menu-lateral {
  flex: 1;
  padding: 25px;
  list-style: none;
  margin: 10px;
  color: #edeef0;
  text-decoration: none;
}

.link-menu-lateral:hover {
  color: #edeef07e;
}

.div-posts {
  width: 800px;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: 500px;
}

img {
  width: 800px;
  height: 500px;
  margin: 50px;
}

.App {
  width: 800px;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: 500px;
}
