* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

.div-header {
  background-color: #13214e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sign-up {
  background-color: rgba(22, 255, 22, 0.807);
  padding: 15px 18px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  color: #010e38;
}

.sign-up:hover {
  background-color: rgba(22, 255, 22, 0.453);
  color: #fff;
}

.log-in {
  background-color: rgba(255, 255, 255, 0.146);
  color: #fff;
  padding: 15px 18px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
}

.log-in:hover {
  background-color: rgba(255, 255, 255, 0.618);
  color: #010e38;
}

.follow {
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.168);
  color: #fff;
  font-size: 18px;
}

.follow:hover {
  background-color: rgba(255, 255, 255, 0.544);
  color: #010e38;
}

.unfollow {
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(22, 255, 22, 0.453);
  color: #fff;
  font-size: 18px;
}

.unfollow:hover {
  background-color: rgba(22, 255, 22, 0.701);
  color: #010e38;
}

.meu-nome {
  color: #ffffff70;
}

.div-header-lateral {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.box-sign {
  display: flex;
  justify-content: end;
}

.input-signin {
  padding: 10px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  width: 280px;
}

.button-Login {
  background-color: #13214e;
  padding: 15px 18px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  color: fff;
  color: #fff;
  margin-left: 180px;
}

.button-Login:hover {
  background-color: #13214ee4;
}

.div-input-button {
  background-color: rgba(22, 255, 22, 0.414);
  border-radius: 10px;
  height: 200px;
  width: 330px;
  padding: 15px;
  position: absolute;
}

.displayNone {
  display: none;
}

.ul-menu-lateral li {
  flex: 1;
  padding: 25px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.501);
  border-top: 1px solid rgba(128, 128, 128, 0.501);
  list-style: none;
  margin: 10px;
}

.ul-menu-lateral {
  width: 220px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  background-color: #13214e;
  color: #fff;
}

.button-menu-lateral {
  background-image: url(./images/menu1.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 55px;
  border: 1px solid #13214e;
  position: fixed;
  margin-left: 160px;
}
